.UtilizationWidget{
  width: 339px;
  height: 800px;
  padding: 24px 20px 20px 19px;
  opacity: 1.8;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: #edf0f5;
  border-left: 1.8px;
  border-left-style: ridge;

  z-index: 1000;
  position: fixed;
  right: 0px;
}



@media screen and (max-width: 600px) {
  .UtilizationWidget {
    min-width: 100%;
    height: auto;
    margin: -182px 2px -218px 138px;
    position: fixed;
    bottom: 0px;
  }
  .UtilizationWidget a {float: bottom;}
  div.content {margin-left: 0;}
}